.card
 %input#rad1{:checked => "checked", :name => "rad", :type => "radio"}/
 %div{:for => "rad1"}
  %h1 1
  .btn
 %input#rad2{:name => "rad", :type => "radio"}/
 %div{:for => "rad2"}
  %h1 2
  .btn
 %input#rad3{:name => "rad", :type => "radio"}/
 %div{:for => "rad3"}
  %h1 3
  .btn
 %input{:type => "checkbox"}/
 %a Read More
 %p Phasellus nec sem in justo pellentesque facilisis. In hac habitasse platea dictumst. Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
 .shapes
 .photo
  -3.times do
   %div
 .blob
  .glob




<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<filter id="goo">
<feGaussianBlur in="SourceGraphic" stdDeviation="12" result="blur" />
<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
<feComposite in="SourceGraphic" in2="goo" operator="atop"/>
</filter>
</defs>
</svg>
<svg class="svg" viewBox="0 0 400 400">
<defs>
<filter id="duotone-filter-post-one">
<feColorMatrix type="matrix" values="0.14453125 0 0 0 0.33203125 0.71875 0 0 0 0.27734375 -0.34765625 0 0 0 0.73046875 0 0 0 1 0"></feColorMatrix>
</filter>
</defs>
</svg>